<a href="https://colab.research.google.com/github/pratikabhang/AI-Driven-Cybersecurity-Threat-Prediction-Platform/blob/main/python_task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
# 1. Sum of First N Numbers
n = int(input("Enter N: "))
total = sum(range(1, n + 1))
print("Sum:", total)

Enter N: 1
Sum: 1

In [5]:
# 2. Factorial of a Number
num = int(input("Enter number: "))
fact = 1
for i in range(1, num + 1):
    fact *= i
print("Factorial:", fact)

Enter number: 2
Factorial: 2

In [6]:
# 3. Multiplication Table
n = int(input("Enter number: "))
for i in range(1, 11):
    print(f"{n} x {i} = {n*i}")

Enter number: 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

In [7]:
# 4. Reverse a String
text = input("Enter text: ")
print("Reversed:", text[::-1])

Enter text: pratik
Reversed: kitarp

In [8]:
# 5. Palindrome Check
text = input("Enter text: ")
print("Palindrome" if text == text[::-1] else "Not a palindrome")

Enter text: madam
Palindrome

In [9]:
# 6. Count Vowels
text = input("Enter text: ").lower()
count = sum(1 for ch in text if ch in "aeiou")
print("Vowel count:", count)

Enter text: abhang
Vowel count: 2

In [10]:
# 7. Find the Largest in a List
nums = [3, 8, 2, 10, 6]
print("Largest:", max(nums))

Largest: 10

In [11]:
# 8. Swap Two Numbers
a, b = 5, 9
a, b = b, a
print("After swapping:", a, b)

After swapping: 9 5

In [12]:
# 9. Fibonacci Series
n = int(input("Enter number of terms: "))
a, b = 0, 1
for _ in range(n):
    print(a, end=" ")
    a, b = b, a + b

Enter number of terms: 4
0 1 1 2

In [13]:
# 10. Read a File
try:
    with open("example.txt", "r") as f:
        print(f.read())
except FileNotFoundError:
    print("File not found!")

File not found!

In [14]:
# 11. Count Words in a Sentence
sentence = input("Enter a sentence: ")
print("Word count:", len(sentence.split()))

Enter a sentence: AI makes coding easy
Word count: 4

In [15]:
# 12. Simple Function Example
def square(num):
    return num ** 2

print("Square:", square(5))

Square: 25

In [16]:
# 13. Check Prime Number
num = int(input("Enter number: "))
if num > 1:
    for i in range(2, num):
        if num % i == 0:
            print("Not Prime")
            break
    else:
        print("Prime")
else:
    print("Not Prime")

Enter number: 9
Not Prime

In [17]:
# 14. Find All Prime Numbers in Range
for num in range(2, 51):
    for i in range(2, num):
        if num % i == 0:
            break
    else:
        print(num, end=" ")

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47

In [18]:
# 15. Armstrong Number Check
num = int(input("Enter number: "))
s = sum(int(d)**3 for d in str(num))
print("Armstrong" if s == num else "Not Armstrong")

Enter number: 157
Not Armstrong

In [19]:
# 16. Check Leap Year
year = int(input("Enter year: "))
if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print("Leap Year")
else:
    print("Not Leap Year")

Enter year: 2025
Not Leap Year

In [20]:
# 17. Simple Calculator
a = float(input("Enter first: "))
b = float(input("Enter second: "))
op = input("Enter operator (+ - * /): ")

if op == '+':
    print(a + b)
elif op == '-':
    print(a - b)
elif op == '*':
    print(a * b)
elif op == '/':
    print(a / b)
else:
    print("Invalid operator")

Enter first: 8
Enter second: 6
Enter operator (+ - * /): +
14.0

In [21]:
# 18. Find Smallest Element in List
nums = [9, 3, 6, 1, 8]
print("Smallest:", min(nums))

Smallest: 1

In [22]:
# 19. Sort a List
nums = [5, 2, 8, 1, 9]
nums.sort()
print(nums)

[1, 2, 5, 8, 9]

In [23]:
# 20. Sum of List Elements
nums = [2, 4, 6, 8]
print("Sum:", sum(nums))

Sum: 20

In [24]:
# 21. Count Even and Odd Numbers
nums = [1, 2, 3, 4, 5, 6]
even = len([n for n in nums if n % 2 == 0])
odd = len(nums) - even
print("Even:", even, "Odd:", odd)

Even: 3 Odd: 3

In [25]:
# 22. Factorial Using Function (Recursion)
def factorial(n):
    return 1 if n == 0 else n * factorial(n - 1)

print("Factorial:", factorial(5))

Factorial: 120

In [28]:
# 23. Check if Number is Perfect
num = int(input("Enter number: "))
s = sum(i for i in range(1, num) if num % i == 0)
print("Perfect" if s == num else "Not Perfect")

Enter number: 28
Perfect

In [29]:
# 24. Display ASCII Value
char = input("Enter a character: ")
print("ASCII Value:", ord(char))

Enter a character: A
ASCII Value: 65

In [30]:
# 25. Count Digits and Letters
text = input("Enter text: ")
letters = sum(c.isalpha() for c in text)
digits = sum(c.isdigit() for c in text)
print("Letters:", letters, "Digits:", digits)

Enter text: ab12cd34
Letters: 4 Digits: 4

In [32]:
# 26. Pattern – Right Triangle
rows = 5
for i in range(1, rows + 1):
    print("*" * i)

*
**
***
****
*****

In [33]:
# 27. Pattern – Inverted Triangle
rows = 5
for i in range(rows, 0, -1):
    print("*" * i)

*****
****
***
**
*

In [34]:
# 28. Find Second Largest Number
nums = [12, 45, 7, 23, 45, 9]
unique = list(set(nums))
unique.sort()
print("Second largest:", unique[-2])

Second largest: 23

In [35]:
# 29. Remove Duplicates from List
nums = [1, 2, 2, 3, 4, 4, 5]
print("Unique:", list(set(nums)))

Unique: [1, 2, 3, 4, 5]

In [36]:
# 30. Count Occurrences of Each Word
text = "cyber security is cyber safe"
words = text.split()
for w in set(words):
    print(w, "→", words.count(w))

safe → 1
security → 1
is → 1
cyber → 2

In [37]:
# 31. Write Data to a File
with open("output.txt", "w") as f:
    f.write("AI Cyber Security Project Ready!")
print("Data written successfully.")

Data written successfully.

In [38]:
# 32. Read Numbers and Find Average
nums = [int(x) for x in input("Enter numbers: ").split()]
avg = sum(nums) / len(nums)
print("Average:", avg)

Enter numbers: 10 20 30 40
Average: 25.0